.main_content {
    width: 100%;
    height: 150px;
    background: url('../../img/main_img_1.jpg') scroll no-repeat top center;
    border-bottom: 7px solid #e5e5e5;
}

.main_content .main_heading {
    width: 960px;
    margin: auto;
}

.main_content h2 {
    padding-bottom: 14px;
    font-size: 280%;
    font-weight: 200;
    padding-top: 46px;
    text-align: left;
    color: #fff;
    text-shadow: 0 1px #000;
}

/*********  OUR TEAM  *********/
.our_team {
    width: 960px;
    margin: auto;
    padding-top: 0;
}

.our_team .teamline {
    font-weight: 400;
    line-height: 150%;
    width: 940px;
    color: #323536;
    font-size: 110%;
    margin: -5px 0 20px 10px;
}

.our_team .sixths_team {
    width: 140px;
    height: 160px;
    margin: 0 10px 0 10px;
    background-color: #e66e0d;
    float: left;
    position: relative;
}

.our_team .sixths_team a {
    display: block;
    width: 140px;
    height: 140px;
}

.our_team .sixths_team a.profession {
    display: block;
    width: 140px;
    height: 20px;
    background-color: #fff;
    text-decoration: none;
    font-size: 95%;
    padding-top: 10px;
}

.our_team .sixths_team a.profession:hover {
    opacity: 1;
}

.our_team .sixths_team a:hover {
    opacity: 0.10;
}

.our_team .sixths_team h4 {
    position: absolute;
    top: 50px;
    display: block;
    width: 140px;
    text-align: center;
    text-shadow: 0 1px #d72d05;
    font-weight: 200;
    font-size: 100%;
    line-height: 140%;
}

.our_team .sixths_team img {
    position: absolute;
}

.our_team .sixths_team span {
    font-weight: 400;
    text-shadow: 0 1px #b70d02;
}

/*********  HISTORY PART  *********/
.history {
    background-color: #1e2022;
    width: 855px;
    min-height: 100px;
    margin: 70px 0 0 10px;
    padding: 43px 40px 30px 45px;
}

.history h3 {
    color: #f8f9f9;
    font-weight: 200;
    margin: 0;
}

.history .key_points {
    margin: 30px 0 0 -13px;
}

.history .key_point_1 {
    margin-left: 0;
    width: 170px;
    float: left;
}

.history .key_point_2 {
    width: 188px;
    float: left;
    margin-left: 32px;
}

.history .key_point_3 {
    width: 205px;
    float: left;
    margin-left: 32px;
}

.history .key_point_4 {
    width: 190px;
    float: left;
    margin-left: 32px;
}

.history h4 {
    padding-top: 2px;
    font-size: 95%;
    font-weight: 300;
    line-height: 180%;
    color: #e9ecef;
}
.history .description {
    margin-top: 3px;
    color: #a4a8ad;
    font-size: 90%;
    font-weight: 300;
    line-height: 150%;
}
.more_about {
    background-color: #1e2022;
    width: 855px;
    min-height: 100px;
    padding: 35px 40px 40px 45px;
    margin-left: 10px;
    margin-bottom: 60px;
    border-top: 1px #292b2d solid;
}
.more_about p {
    width: 860px;
    color: #e9ecef;
    font-size: 115%;
    font-weight: 200;
    line-height: 160%;
    margin-bottom: 25px;
}
.more_about b {
    font-weight: 400;
    color: #fff;
}